<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <title>nextechy</title>
</head>

<body>
  {{>navbar}}
  {{!-- home page --}}
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          <div
            class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
            <h1>Custom Software for Your Business</h1>
            <h1>Reliable and Scalabe solutions</h1>
            <p>We are a team of <span class="bold-style">Professionals</span>
            We transform businesses with agile engineering methods and custom programming solutions.</p>
            <button class="btn-style btn-primary">Read more</button>
          </div>

          {{!-- right side --}}
          <div class="col-md-6 col-12 hero-text order-md-1 order-0">
            <figure>
              <img src="images/growth.svg" alt="homepage image">
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{!-- about us --}}
  {{>about}}

  {{!-- services --}}
  {{>service}}

  {{!-- maps --}}
  {{>maps}}

  {{!-- contact --}}
  {{>contact}}

  <script src="../jq/jquery.js" type="text/javascript"></script>
  <script src="../js/bootstrap.js" type="text/javascript"></script>
</body>

</html>
