<div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">About Us</h1>
            <p class="text-center sub-heading">A leading software development company with 38 years of experience.</p>
            <div class="row">
                <div class="col-md-6 col-12 hero-text ">
                    <figure>
                        <img src="images/about.svg" alt="homepage image">
                    </figure>
                </div>


                {{!-- right side --}}
                <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
                    <h1>Software Development Company</h1>
                    <p>Welcome to <span class="bold-style">nextechy</span>
                        ,we have been the technical "brains" behind many successful businesses. With more than 12,000 projects delivered, we know what works and how to make it work for you. Your business' growth is our top priority. We'll help you achieve your business goals by listening and offering cost-effective solutions.</p>
                    <button class="btn-style btn-primary">Read more</button>
                </div>

            </div>
        </div>
    </div>
</div>